---
import Layout from "../layouts/GeneralLayout.astro";
import ImageUpload from "../components/imageupload";
---

<Layout title="Seller | IndieStop">
	<h1>Upload Your FIles</h1>
	<ImageUpload client:visible />
</Layout>
