---
import Layout from "../layouts/GeneralLayout.astro";
---
<Layout title="Filter">
  <div class="w-full h-full fixed inset-0 -z-10 opacity-30">
    <img src="/glowiess.svg" class="absolute inset-0 -left-72 -z-10" />
  </div>

  <div class="w-full h-full fixed -z-10 opacity-60">
    <img src="/glowiess.svg" class="absolute inset-0 left-[80vw] -z-10" />
  </div>

  
</Layout>