---
import Layout from "../layouts/GeneralLayout.astro";
---

<Layout title="Home | IndieStop.">
	<nav class="flex flex-row justify-between items-center m-auto p-10">
		<a href="/" class="font-bold text-4xl tracking-wide">
			Indie<span class="text-brand-primary">Stop.</span></a
		>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="w-full max-w-10"
			fill="#e58e27"
			viewBox="0 0 256 256"
			><path
				d="M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128ZM40,76H216a12,12,0,0,0,0-24H40a12,12,0,0,0,0,24ZM216,180H40a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24Z"
			></path></svg
		>
	</nav>

	<!-- <div class="sticky top-3 w-full bg-brand-base">
		<div class="pt-2 w-full relative mx-auto text-gray-600 max-w-sm">
			<input
				class="border-[3px] border-brand-base focus:ring-brand-primary focus:border-brand-primary bg-brand-surface h-13 px-5 pr-16 rounded-xl text-md focus:outline-none w-full"
				type="search"
				name="search"
				placeholder="Search"
			/>
			<button type="submit" class="absolute right-0 top-1 mt-5 mr-4">
				<svg
					class="text-gray-600 h-4 w-4 fill-current"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					id="Capa_1"
					x="0px"
					y="0px"
					viewBox="0 0 56.966 56.966"
					style="enable-background:new 0 0 56.966 56.966;"
					xml:space="preserve"
					width="512px"
					height="512px"
				>
					<path
						d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
					></path>
				</svg>
			</button>
		</div>
	</div> -->

	<section class="min-h-screen p-10 space-y-14">
		<h1 class="font-bold text-2xl">Our Best Selection</h1>
		<img
			src="https://images.unsplash.com/photo-1542751371-adc38448a05e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2FtZXN8ZW58MHx8MHx8fDA%3D"
			class="w-full object-cover h-72 rounded-2xl"
		/>
		<h1 class="font-bold text-2xl">Rising Games</h1>
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
			<div class="space-y-2">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg/345px-Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg/345px-Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg/345px-Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg/345px-Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
		</div>
		<h1 class="font-bold text-2xl">Discounted Games</h1>
		<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1551103782-8ab07afd45c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1551103782-8ab07afd45c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1551103782-8ab07afd45c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2 w-full">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg/345px-Paul_C%C3%A9zanne%2C_1892-95%2C_Les_joueurs_de_carte_%28The_Card_Players%29%2C_60_x_73_cm%2C_oil_on_canvas%2C_Courtauld_Institute_of_Art%2C_London.jpg"
					class="object-cover w-full h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
		</div>
		<h1 class="font-bold text-2xl">Recently Updated Games</h1>
		<div
			class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full"
		>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1595429035839-c99c298ffdde?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdhbWVzfGVufDB8fDB8fHww"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1595429035839-c99c298ffdde?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdhbWVzfGVufDB8fDB8fHww"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1595429035839-c99c298ffdde?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdhbWVzfGVufDB8fDB8fHww"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
			<div class="space-y-2">
				<img
					src="https://images.unsplash.com/photo-1595429035839-c99c298ffdde?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdhbWVzfGVufDB8fDB8fHww"
					class="object-cover w-auto h-72 rounded-2xl"
				/>
				<h3 class="font-medium text-md">Damn Expensive</h3>
				<p class="text-brand-primary font-bold">$1000</p>
			</div>
		</div>
	</section>
</Layout>
